<nav class="navbar  ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-left" href="#"><img id="logo" src="{{logo}}"></a>
    </div>
    <div>
        <a class="navbar-right" href="#"><img id="profile" src="{{profile}}"></a>
      </div>
    <ul class="nav navbar-nav navbar-right">
       <li><a href="#" class="hvr-underline">My groups</a></li>
      <li><a href="#">Explore</a></li>
      <li class="active"><a href="#">Messages</a></li>
    </ul>
  </div>
</nav>