<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-left" href="#"><img id="logo" src="{{logo}}"></a>
    </div>
    <div>
        <a class="navbar-right" href="/profile"><img id="profile" src="{{profile}}"></a>
    </div>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input id="search" type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    <ul class="nav navbar-nav navbar-right">
       <li><a href="#">My groups</a></li>
      <li><a href="#">Explore</a></li>
      <li class="active"><a href="#">Messages</a></li>
    </ul>
  </div>
</nav>