#logo{
    width: 40px;
    left: 15px;
    padding-top: 6px;
}

#profile{
    width: 40px;
    left: 15px;
    padding-top: 6px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 50%;

}

.navbar{
    background-color: #00AAD4;
    padding: 5px;
    border-radius: 0%;
    font-size: 15px;
}

.nav >li>a{
    color: white;
    font-weight: bold;
    border: 0;
    transition: all 0.3s ease 0s;
    margin-right: 5px;
}

.nav >li>a:hover{
    background-color: #00AAD4;
    box-shadow: inset 0 0 0 5px #ffffff;

}

.navbar-form{
    margin-left: 350px;
}

#search{
    padding-right: 150px;
    border: 0;
    transition: all 0.2s ease 0s;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: rgb(41, 128, 185);
}

#search::-webkit-input-placeholder{
    color: white;
}

#search:focus{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: white;
    color: black;
}