
<div class="post" style="margin-top: 10px;">
    <div class="paragraphs">
        <div class="row">
          <div class="span4">
            <img style="float:left;max-width:30px;" src="../../assets/profile.png"/>
            <div class="content-heading"><h3>Muhammed semri</h3> <p>4 hours ago</p></div>
            <p style="clear:both">Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          </div>
        </div>
      </div>
    <div>
      <img class="post image" src="../../assets/house2.jpeg"  alt=""> 
    </div>
    <div class="buttons">
      <button class="button"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
      <button class="button"><span class="glyphicon glyphicon-send"></span> Comment</button>
      <button class="button"><span class="glyphicon glyphicon-retweet"></span> Share</button>
    </div>
</div>