.post{
    margin-left: 100px;
    background-color: white;
    margin-right: 300px;
    box-shadow: 0 2px 2px #888888;
    margin-bottom: 15px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2%;overflow: hidden;
}

.post > p {
    margin-left: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.post > div{
    margin-top: 20px;
}

.post > div >img{
    max-width: 500px;
}


h3{
    font-size: 16px;
}

.span4 > img{
    max-width: 20px;
    margin-right: 10px;
}
.paragraphs{
    margin-left: 70px;
}

.buttons{
    padding-bottom: 10px;
    background-color: #00AAD4;
}

.button{
    background-color: #00AAD4;
    color: white;
    border-radius: 5%;
    margin-top: 7px;
    margin-left: 25px;
    border: 0;
    padding: 10px;
    transition: all 0.3s ease 0s;
    
}

.button:hover{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: rgb(41, 128, 185);
    
}

