<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 navv">  
                <h3 class="txt-navv">Your rating</h3>
                <div class="rating">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
                <h3 class="txt-navv">Profile views</h3>
                <span class="views">5</span>
        </div>
        <div class="col-sm-10 marg left">
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
        </div>
    </div>
</div>