<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav nav-stacked right">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
            </ul>
        </div>
        <div class="col-sm-10 marg left">
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
        </div>
    </div>
</div>