.right{
    margin-top: 40px;
}
body{
    background-color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
}
.right >li >a{
    color: black !important;
    font-size: 18px;

}

.right > li >a:hover{
    background-color: transparent !important;
}

